//!  31222.1856         UTILITY CLASSES

//!  31222.1856         3.1   DISPLAY

//!  31222.1856         3.2   CONTAINER

//!  31222.1856         3.3   TYPE

//!  31222.1856         9.9   END

//!  31222.1856         3.1   DISPLAY

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

//!  31222.1856         3.2   CONTAINER

// NOTE padding-inline is newer, horizontal sides only
// NOTE may need to turn max-width to a --var
.container {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: 2em;
}

//!  31222.1856         3.3   TYPE
.fs {
  &1 {
    font-size: 1vw;
  }
  &2 {
    font-size: 2vw;
  }
  &3 {
    font-size: 3vw;
  }
  &4 {
    font-size: 4vw;
  }
}

.fr {
  &1 {
    font-size: 1rem;
  }
  &2 {
    font-size: 2rem;
  }
  &3 {
    font-size: 3rem;
  }
  &4 {
    font-size: 4rem;
  }
}
